body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.digits {
  width: 100%;
  text-align: center;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}

form {
  width: 100%;
  text-align: center;
}